
doctype html
head
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  title= title
  link(rel='stylesheet', type='text/css', href='/semantic/semantic.min.css')
  link(rel='stylesheet', href='/public/css/style.css')
  
body

  include ../partials/navbar

  // Bienvenido Animation
  // .init
  //   #container-center.ui.container
  //     h1 #{title}
    
  .ui.container.container-body
      block content
      

script(src='//code.jquery.com/jquery-1.12.0.min.js')
script(src='/semantic/semantic.min.js')
script(src='/public/vendor/vue/vue.js')
script(src='https://cdn.jsdelivr.net/vue.validator/2.0.0-beta.2/vue-validator.min.js')
script(type='text/javascript', src='/public/js/main.js')