  <!-- Footers -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="/semantic/semantic.min.js"></script>
  <script type="text/javascript" src="/public/vendor/vue/vue.js"></script>
  <script type="text/javascript" src="/public/vendor/vue-validator/vue-validator.min.js"></script>
  <script type="text/javascript" src="/public/vendor/vue-resource/vue-resource.js"></script>
  <script type="text/javascript" src="/public/vendor/vue-router/vue-router.js"></script>
  <script type="text/javascript" src="/public/js/util.js"></script>
  <script type="text/javascript" src="/public/js/components/todo.js"></script>
  <script type="text/javascript" src="/public/js/components/auth.js"></script>
  <script type="text/javascript" src="/public/js/components/navbar.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>
